{% extends "base.html" %}
{% block titulo %}
    Jugadores 
{% endblock titulo %}

{% block contenido %}
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre Equipo </th>
                        <th> Jugadores Activos </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <button class="btn btn-primary"><a class="nav-item nav-link" href="/directivo/equipoAlta" style="color: white;">+</a></button>
           {% comment %}  <button class="btn btn-primary"><i class="fa-solid fa-plus"></i></button> {% endcomment %}
        </div>
    </div>
    
{% endblock contenido %}