{% extends "base.html" %}
{% block titulo %}
    Jugadores 
{% endblock titulo %}

{% block contenido %}
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>N° Camisa</th>
                        <th>Jugador activo</th>
                        <th>Jugador banca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <button class="btn btn-primary">+</button>
        </div>
    </div>
    

{% endblock contenido %}